<div class="login-page container">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" *ngIf="!tryingToLogIn">

        <div class="error-message" [hidden]="!showError">
          Login Failed. Please try again. <i class="fa fa-times pull-right pointer" (click)="onCloseError()"></i>
        </div>

        <div class="row spacer-bottom">
          <img class="col-xs-6 col-xs-offset-3" src="/assets/exo-click-banner.png" alt="exo click banner">
        </div>
        
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
          
          <md-input-container class="col-xs-12 spacer-top spacer-bottom">
            <input placeholder="Username" formControlName="username"
                   mdInput
                   [(ngModel)]="user.username">
            <md-hint *ngIf="signinForm.get('username').touched">
              <span *ngIf="signinForm.get('username').errors && signinForm.get('username').errors['required']">This field is required!</span>
            </md-hint>
          </md-input-container>
          <md-input-container class="col-xs-12 spacer-bottom">
            <input placeholder="Password" formControlName="password" type="password"
                   mdInput
                   [(ngModel)]="user.password">
            <md-hint *ngIf="signinForm.get('password').touched">
              <span *ngIf="signinForm.get('password').errors && signinForm.get('password').errors['required']">This field is required!</span>
            </md-hint>
          </md-input-container>
            
          <div class="col-xs-12 spacer-bottom">
            <a class="link">Forgot Password</a>
            <div class="pull-right">
              <md-slide-toggle>Remember Me</md-slide-toggle>
            </div>
          </div>

          <div class="col-xs-12">
            <button class="sign-in-button" type="submit"
                    md-button
                    [ngClass]="{ 'active': signinForm.valid }">
              Log In
            </button>
          </div>
        </form>

        <div class="col-xs-12 spacer-bottom text-center">
          Don't have an account? <a class="link">Sign Up</a>
        </div>

      </div>

      <div *ngIf="tryingToLogIn">
        <h3>
          We are login in, thanks for your patience
        </h3>
        <h3><md-spinner></md-spinner></h3>
      </div>
      
  </div>
</div>
