.login-page {
  margin-top: 100px;
}

.error-message {
  background-color: #EB5757;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  top: -70px;
  left: 0;
}

.password-reveal {
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
}

.sign-in-button {
  display: block;
  margin: 50px auto;
  padding: 0 40px;
  color: #fff;
  background-color: #ccc;

  &.active {
    background-color: #4CAF50;
  }
}

.mat-button[disabled] {
  color: #fff;
}

.mat-slide-toggle.mat-accent {
  color: #666;
}